
"\e[zf": "\n"
"\e[zg": "+"
"\e[zh": "-"
"\e[zi": "."
"\e[zj": "/"
"\e[zk": "*"
"\e[zl": "0"
"\e[zm": "1"
"\e[zn": "2"
"\e[zo": "3"
"\e[zp": "4"
"\e[zq": "5"
"\e[zr": "6"
"\e[zs": "7"
"\e[zt": "8"
"\e[zu": "9"

